USE [master]
GO
/****** Object:  Database [Progetto1_U2]    Script Date: 14/03/2025 14:46:41 ******/
CREATE DATABASE [Progetto1_U2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Progetto3_Backend3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Progetto1_U2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Progetto3_Backend3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Progetto1_U2.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Progetto1_U2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Progetto1_U2]
GO
/****** Object:  Table [dbo].[Anagrafiche]    Script Date: 14/03/2025 14:46:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Anagrafiche](
	[IdAnagrafica] [uniqueidentifier] NOT NULL,
	[Cognome] [nvarchar](100) NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[Indirizzo] [nvarchar](100) NOT NULL,
	[Citta] [nvarchar](100) NOT NULL,
	[CAP] [int] NOT NULL,
	[CodiceFiscale] [nvarchar](16) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAnagrafica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipi Violazione]    Script Date: 14/03/2025 14:46:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipi Violazione](
	[IdViolazione] [uniqueidentifier] NOT NULL,
	[Descrizione] [nvarchar](1000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdViolazione] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Verbali]    Script Date: 14/03/2025 14:46:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Verbali](
	[IdVerbale] [int] NOT NULL,
	[DataViolazione] [datetime] NOT NULL,
	[IndirizzoViolazione] [nvarchar](100) NOT NULL,
	[NominativoAgente] [nvarchar](100) NOT NULL,
	[DataTrascrizioneVerbale] [datetime] NOT NULL,
	[Importo] [decimal](7, 2) NOT NULL,
	[DecurtamentoPunti] [int] NULL,
	[IdAnagrafica] [uniqueidentifier] NOT NULL,
	[IdViolazione] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_IdVerbaliComposto] PRIMARY KEY CLUSTERED 
(
	[IdVerbale] ASC,
	[IdAnagrafica] ASC,
	[IdViolazione] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Verbali]  WITH CHECK ADD  CONSTRAINT [FK_Verbale_Anagrafica] FOREIGN KEY([IdAnagrafica])
REFERENCES [dbo].[Anagrafiche] ([IdAnagrafica])
GO
ALTER TABLE [dbo].[Verbali] CHECK CONSTRAINT [FK_Verbale_Anagrafica]
GO
ALTER TABLE [dbo].[Verbali]  WITH CHECK ADD  CONSTRAINT [FK_Verbale_Violazione] FOREIGN KEY([IdViolazione])
REFERENCES [dbo].[Tipi Violazione] ([IdViolazione])
GO
ALTER TABLE [dbo].[Verbali] CHECK CONSTRAINT [FK_Verbale_Violazione]
GO
USE [master]
GO
